/* Fonts */
/* Paragraph, Hero Header Font */

@font-face {
    font-family: 'Amatic';
    src: url('AmaticSC-Bold.woff2') format('woff2'),
        url('AmaticSC-Bold.woff') format('woff'),
        url('../webfonts/AmaticSC-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amatic';
    src: url('../webfonts/AmaticSC-Regular.woff2') format('woff2'),
        url('../webfonts/AmaticSC-Regular.woff') format('woff'),
        url('../webfonts/AmaticSC-Regular.ttf') format("truetype");

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Header-fonts */
@font-face {
    font-family: 'Inter';
    src: url('../webfonts/Inter18pt-Bold.woff2') format('woff2'),
        url('../webfonts/Inter18pt-Bold.woff') format('woff'),
        url('../webfonts/Inter18pt-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../webfonts/Inter18pt-Italic.woff2') format('woff2'),
        url('../webfonts/Inter18pt-Italic.woff') format('woff'),
        url('../webfonts/Inter18pt-Italic.ttf') format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../webfonts/Inter18pt-BoldItalic.woff2') format('woff2'),
        url('../webfonts/Inter18pt-BoldItalic.woff') format('woff'),
        url('../webfonts/Inter18pt-BoldItalic.ttf') format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../webfonts/Inter18pt-Regular.woff2') format('woff2'),
        url('../webfonts/Inter18pt-Regular.woff') format('woff'),
        url('../webfonts/Inter18pt-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Default fonts */

@font-face {
    font-family: 'Open-Sans';
    src: url('../webfonts/OpenSans-Regular.woff2') format('woff2'),
        url('../webfonts/OpenSans-Regular.woff') format('woff'),
        url('../webfonts/OpenSans-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../webfonts/OpenSans-Bold.woff2') format('woff2'),
        url('../webfonts/OpenSans-Bold.woff') format('woff'),
        url('../webfonts/OpenSans-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../webfonts/OpenSans-Italic.woff2') format('woff2'),
        url('../webfonts/OpenSans-Italic.woff') format('woff'),
        url('../webfonts/OpenSans-Italic.ttf') format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../webfonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../webfonts/OpenSans-BoldItalic.woff') format('woff'),
        url('../webfonts/OpenSans-BoldItalic.ttf') format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: "Noto-Sans";
    font-family: 'Noto Sans';
    src: url('../webfonts/NotoSans-Bold.woff2') format('woff2'),
        url('../webfonts/NotoSans-Bold.woff') format('woff'),
        url('../webfonts/NotoSans-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Noto-Sans";
    font-family: 'Noto Sans';
    src: url('../webfonts/NotoSans-Regular.woff2') format('woff2'),
        url('../webfonts/NotoSans-Regular.woff') format('woff'),
        url('../webfonts/NotoSans-Regular.ttf') format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url('../webfonts/Roboto-Regular.woff2') format('woff2'),
        url('../webfonts/Roboto-Regular.woff') format('woff'),
        url('../webfonts/Roboto-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url('../webfonts/Roboto-Bold.woff2') format('woff2'),
        url('../webfonts/Roboto-Bold.woff') format('woff'),
        url('../webfonts/Roboto-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url('../webfonts/Roboto-Italic.woff2') format('woff2'),
        url('../webfonts/Roboto-Italic.woff') format('woff'),
        url('../webfonts/Roboto-Italic.ttf') format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}