/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


/* Shared */

:root {
    font-size: 14px;
    font-family: "Open-sans", Arial, sans-serif;
    background-color: var(--color-white);
    color: #333;
    /* default color for headers*/
    line-height: calc(26/14 * 1rem);
    /* default line height of paragraphs*/

    /* links variables */
    --link-font-size: calc(16/14 * 1rem);
    --link-letter-spacing: 0.1rem;

    /* colors */

    --color-white: #fff;
    --color-bg-dark: #2C2C2C;
    --color-bg-light-grey: #F7F8F9;
    --color-bg-orange: #F05638;
    --color-bg-light-orange: #FA684F;
    --color-bg-light-blue: #38D5F4;
    --color-bg-grey-blue: #93B6B7;
    --color-bg-purple: #8F76BC;
    --color-bg-mini-title-green: #7BC424;
    --color-bg-link-yellow: #FFC80A;
    /* text-colors */
    --text-title-grey-color: #9fa3a7;
    --text-link-blue-color: #27b9c2;
    --text-link-yellow-color: #FFC80A;


    /* mini-titles */
    --mini-title-font-size: calc(8/14 * 1rem);

    /* titles */
    --titles-font-family: "Montserrat", sans-serif;
    /* common between mini and big titles*/
    --titles-font-size: calc(12/14 * 1rem);
    --titles-line-height: calc(20/14 * 1rem);
    /* common between mini and big titles*/
    --titles-font-weight: 700;
    /* common between mini and big titles*/
    --titles-letter-spacing: 0.2rem;
    /* common between mini and big titles*/


    /* Headers variables */
    --headers-font-family: "Arvo", sans-serif;
    --h1-large-font-size: calc(48/14 * 1rem);
    --h1-medium-font-size: calc(38/14 * 1rem);
    --h2-font-size: calc(32/14 * 1rem);
    --h3-large-font-size: calc(24/14 * 1rem);
    --h3-medium-font-size: calc(22/14 * 1rem);

    --h1-big-line-height: calc(60/14 * 1rem);
    --h1-medium-line-height: calc(44/14 * 1rem);
    --h2-line-height: calc(36/14 * 1rem);
    --h3-big-line-height: calc(32/14 * 1rem);
    --h3-medium-line-height: calc(30/14 * 1rem);

    /* font weight variables */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headers-font-family);
    font-weight: var(--font-weight-bold);
    margin-bottom: calc(10/14 * 1rem);
}

h1 {
    font-size: var(--h1-large-font-size);
    line-height: var(--h1-big-line-height);
    font-weight: var(--font-weight-regular);
}

h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
}

h3 {
    font-size: var(--h3-large-font-size);
    line-height: var(--h3-big-line-height);

}

p {
    color: var(--text-title-grey-color);
}

a {
    color: var(--text-link-blue-color);
    font-size: var(--link-font-size);
    letter-spacing: var(--link-letter-spacing);
    text-decoration: none;
}

.mini-title,
.title {
    font-family: var(--titles-font-family);
    font-weight: var(--titles-font-weight);
    letter-spacing: var(--titles-letter-spacing);
    line-height: var(--titles-line-height);
    text-transform: uppercase;
}

.mini-title {
    font-size: var(--mini-title-font-size);
    color: var(--color-white);
    --padding-top-bottom: calc(5/14 * 1rem);
    --padding-left-right: calc(10/14 * 1rem);
    padding: var(--padding-top-bottom) var(--padding-left-right);
    --mini-title-bg-color: var(--color-bg-mini-title-green);
    background-color: var(--mini-title-bg-color);

}

.title {
    font-size: var(--titles-font-size);
    color: var(--text-title-grey-color);
}

.btn {
    background-color: var(--color-bg-orange);
    padding: calc(10/14 * 1rem) calc(20/14 * 1rem);
    border-radius: 2rem;
    border: 0;
    cursor: pointer;
    font-size: var(--link-font-size);
    letter-spacing: var(--link-letter-spacing);
}

.iphone, .tv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.tech>div:not(.iphone):not(.tv) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    --gap: calc(20/14 * 1rem);
    gap: var(--gap);
}
/* grid */

.tech {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.2fr 0.8fr;
    grid-auto-columns: 1fr;
    gap: 0% 0%;
    grid-auto-flow: row;
    grid-template-areas:
        "iphone iphone header header"
        "keyboard imac download icloud"
        "controller ipad ipad icloud"
        "twitter popular tv tv";
}

/* grid items */

/* iphone section */
.iphone {
    grid-area: iphone;
    background-color: var(--color-white);
    padding: 0 4%;
    --gap: calc(20/14 * 1rem);
    gap: var(--gap);

}

.iphone img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    object-fit: cover;
    flex-basis: auto;
}
.iphone .iphone-img {
    align-self: flex-end;
    --margin-top: calc(50/14 * 1rem);
    margin-top: var(--margin-top);
    /* width: calc((100% - var(--margin-top))/3); */
    flex: 0 0 30%;
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 1));
}

.iphone .content-col {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    gap: calc(20/14 * 1rem);
}

.iphone .content-col h3,
.iphone .content-col p {
    font-weight: var(--font-weight-regular);
    width: 88%;
}


.header {
    grid-area: header;
    background-color: var(--color-bg-light-grey);
}

.header h1 {
    width:60%;
    padding: 0 calc(50/14 * 1rem);
}
.header a {
    text-decoration: underline;
}

.keyboard {
    grid-area: keyboard;
    background-color: var(--color-bg-orange);
}

.imac {
    grid-area: imac;
}

.download {
    grid-area: download;
}

.icloud {
    grid-area: icloud;
    background-color: var(--color-bg-purple);
}

.tv {
    grid-area: tv;
    background-color: var(--color-bg-dark);
}

.popular {
    grid-area: popular;
}

.twitter {
    grid-area: twitter;
    background-color: var(--color-bg-light-blue);
}

.controller {
    grid-area: controller;
    background-color: var(--color-bg-light-grey);
}

.ipad {
    grid-area: ipad;
    background-color: var(--color-bg-grey-blue);
}